@model WebBHDTCHUNG.Models.TemplateMT

@{
    ViewBag.Title = "EditTemp";
}

<style>
    input{
        max-width:100%;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>TemplateMT</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Tra cứu không thành công</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Tsearch, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Tsearch, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Kích hoạt không thành công</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Tactive, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Tactive, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Yêu cầu BH sai</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Twarranti, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Twarranti, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Tra cứu đúng</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Tsearchok, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Tsearchok, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Kích hoạt thành công</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Tactiveok, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Tactiveok, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Kích hoạt trùng</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Tactive_not, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Tactive_not, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Yêu cầu BH thành công</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Twarrantiok, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Twarrantiok, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
